<section class="ticket-context">

	<div class="current-ticket context-card">
		<div class="context-content"></div>
		<div class="context-commands">
			<a href="#" data-action="deleteLastItem" class="back-last-action fa fa-3x fa-angle-left"></a>
			<a href="#" data-action="cancelTicket" class="delete-ticket fa fa-2x fa-remove"></a>
			<a href="#" data-action="continueToPay" class="pay-ticket fa fa-2x fa-check"></a>
		</div>
	</div>

	<div class="edit-item context-card out-right-card">
	</div>

	<div class="pay-ticket context-card out-right-card">
	</div>

	<div class="pay-with-credit context-card out-right-card">
	</div>

	<div class="pay-with-cash context-card out-right-card">
	</div>

	<div class="end-ticket context-card out-right-card">
	</div>

	<div class="product-barcode" id="product-barcode"></div>
	<input type="text" class="product-barcode-input" id="product-barcode-input">
	<input type="text" class="product-barcode-fix" id="product-barcode-fix">
</section>